pyrogram==1.4.16
tgcrypto
wheel
pygments
ffmpeg-python
pymongo
Pillow>=9.0.0
pytube
click
pymongo[srv]
dnspython
requests
environs
GitPython
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
